<Menu DockPanel.Dock="Top" text="Menubar">
	<MenuItem Header="File" options="{'underline':0}">
		<MenuItem Command="Export Coefficients..."/>
		<MenuItem Command="Export Time Domain Data..."/>
		<MenuItem Command="Export Frequency Domain Data..."/>
		<Separator/>
		<MenuItem Command="Quit" options="{'accelerator':'Ctrl+Q','underline':0}"/>
	</MenuItem>
	<MenuItem Header="Help" options="{'underline':0}">
		<MenuItem Command="Info"/>
	</MenuItem>
</Menu>